*{
	margin: 0;
	padding: 0;
	font-family: Verdana;
	font-size: 16px;
	line-height: 20px;
	word-break: break-word;
	box-sizing: border-box;
}
.field {
	display: inline-block;
	width: 900px;
	height: 900px;
	background-color: #999;
	text-align: center;
	border: 4px solid #000;
	position: relative;
}

.cutted {
	
}

.lenta {
	display: inline-block;
	width: 800px;
	height: 800px;
	background-color: #ccc;
	/*color: #000;*/
	position: relative;
	margin-top: 48px;
}

.block {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100px;
	background-color: #333;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #000;
	text-align: center;
	color: #fff;
}

.cheker {
	position: absolute;
	left: 0;
	top: 0;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	border: 3px solid #fff;
	background-color: #000;
	min-height: 1px;
	margin: calc((100% - 80% - 2px) / 2);
}

.white {
	background-color: #fff;
	
}
.queen {
	display: inline-block;
	position: absolute;
	top: 25%;
	left: 25%;
	background-color: #888;
	height: 50%;
	width: 50%;
	border-radius: 50%;
	border: 3px solid #fff;
}
.white > .queen {
	border-color: #000;
}
.select .cheker {
	position: absolute;
	top: -20%;
	left: -20%;
	width: 120%;
	height: 120%;
	transition: .5s linear all;
}
.sideboard {
	display: inline-block;
	position: absolute;
	height: 900px;
	width: 150px;
	border: 5px solid #888;
}
.side-row {
	position: relative;
	width: 100%;
}
.side-black {
	height: 50%;
	background-color: #000;
}
.side-white {
	background-color: #fff;
}
#white {
	color: #000;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}
#black {
	color: #fff;
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
}